$primary-color: rgb(133, 203, 46);

.info {
    width: 100%;
    padding: 60px 0;


    .container {
        width: 1200px;
        margin: auto;
        display: flex;

        .left {
            width: 50%;

            h1 {
                font-size: 50px;
                color: rgb(64, 62, 62);
                padding-bottom: 20px;
            }

            strong {
                color: $primary-color;
                font-size: 50px;
                cursor: pointer;
            }

            .text {
                color: rgb(88, 86, 86);
                font-size: medium;
                padding-bottom: 45px;
                padding-top: 30px;
                line-height: 180%;
                font-size: 16px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
            }

            .learn_more {
                display: inline-block;
                padding: 20px 55px;
                font-size: 16px;
                font-weight: bold;
                color: white;
                background-color: red;
                border: none;
                border-radius: 30px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                box-sizing: border-box;
                transition: background-color 0.3s ease;

            }

            .learn_more:hover {
                background-color: $primary-color;
            }

        }

        .right {
            width: 50%;
            padding-left: 20px;
            display: flex;

            .image {
                width: 60%;
                height: 100%;
                // background-color: red;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain !important;
                }
            }

            .options {
                width: 40%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: end;

                ul {
                    list-style: none;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-around;

                    li {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        .bird {
                            padding-right: 10px;
                        }
                    }
                }

                .learn_more2 {
                    display: inline-block;
                    padding: 20px 55px;
                    font-size: 16px;
                    font-weight: bold;
                    color: white;
                    background-color: red;
                    border: none;
                    border-radius: 30px;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    box-sizing: border-box;
                    transition: background-color 0.3s ease;
                    display: none;
                }

                .learn_more:hover {
                    background-color: $primary-color;
                }
            }
        }
    }
}

.feedbacks {
    width: 100%;
    padding: 100px 0 10px 0;
    // background-color: #84cb2e59;
    box-shadow: 27px 68px 42px -20px rgba(133, 203, 46, 0.45) inset;
    -webkit-box-shadow: 27px 68px 42px -20px rgba(133, 203, 46, 0.45) inset;
    -moz-box-shadow: 27px 68px 42px -20px rgba(133, 203, 46, 0.45) inset;

    .container {
        width: 1200px;
        margin: auto;
        padding-bottom: 50px;
        text-align: center;
    }

    span {
        color: $primary-color;
        font-size: 25px;
        font-family: "Pencerio";
    }

    h1 {
        font-size: 30px;
        padding-top: 10px;
    }
}

.testio {
    background-image: url("http://fitmeal.like-themes.com/wp-content/uploads/2019/10/testimonials-bg.png");
    width: 100%;
    height: 260px;
    margin: auto;
    background-color: #ffffff;
}

.transformation {
    width: 100%;
    box-shadow: 2px -2px 46px 17px rgba(0, 0, 0, 0.41) inset;
    -webkit-box-shadow: 2px -2px 46px 17px rgba(0, 0, 0, 0.41) inset;
    -moz-box-shadow: 2px -2px 46px 17px rgba(0, 0, 0, 0.41) inset;
    padding: 100px 0;

    .container {
        width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            // background-color: red;
            width: 50%;
            // height: 420px !important;
            padding: 50px 90px;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            .head {
                font-size: 20px;
                color: $primary-color;
                padding-bottom: 15px;
                font-weight: 900;
            }

            h1 {
                font-size: 40px;
                font-weight: 900;
                padding-bottom: 20px;
                line-height: 1.2;

                span {
                    color: $primary-color;
                    cursor: pointer;
                }
            }

            p {
                font-size: 19px;
                font-weight: 400;
                line-height: 28px;
                color: #676666;

                padding-bottom: 20px;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: start;
                padding-bottom: 15px;
                cursor: pointer;

                .mark {
                    color: $primary-color;
                    margin-right: 6px;
                    font-size: 23px;

                }
            }

        }

        .right {
            width: 50%;
            height: 420px;
        }
    }
}

.metrics {
    width: 100%;
    padding: 100px 0 100px 0;
    background: linear-gradient(135deg, #85CB2E, #54811d);
background:#85CB2E ;
    span {

        font-size: 25px;
        font-family: "Pencerio";
        text-align: center;
        display: block;
    }

    h1 {
        font-size: 30px;
        padding-top: 10px;
        text-align: center;
        color: #ffffff;
    }

    .container {
        width: 1200px;
        margin: auto;
        background-color: transparent;
    }
}

@media (max-width: 1111px) {
    .info .container {
        .left {

            h1,
            strong {
                font-size: 30px !important;
            }
        }

    }

    .transformation {
        .container {
            flex-direction: column;

            .left,
            .right {
                width: 100%;
            }

            .right {
                height: 600px;
            }

            .left {
                padding-top: 0;
                padding-right: 0;

                h1 {
                    font-size: 30px;
                    line-height: 180%;
                }

                p {
                    font-size: 16px;
                }

            }
        }
    }

}

@media (max-width: 888px) {
    .info .container {
        flex-direction: column;

        .right {
            width: 100% !important;
            justify-content: space-around;
            align-items: center;
            padding: 0 !important;
            // background-color: blue;

            .options {
                width: 50% !important;
                flex-direction: column !important;
                height: 260px !important;
                // background-color: red;
                align-items: center !important;
                justify-content: space-between !important;

                .learn_more2 {
                    display: block;
                    justify-content: space-between;
                    padding: 15px 45px;
                }

                ul {
                    height: 40% !important;
                    justify-content: space-between;
                    font-size: 16px;
                }
            }

            .image {
                width: 50% !important;
            }
        }

        .left {
            width: 100% !important;

            .learn_more {
                display: none !important;
            }
        }
    }

    .transformation .container {
        .right {
            height: 280px;
            width: 100%;
        }

        .left {}
    }
}